---
layout: default
filename: index.html
---

<h2>{{ page.title }}</h2>

<p>{{ page.data.description }}</p>

{% if page.data.image %}
<img src="{{ site.baseurl }}/{{ page.data.image }}"></img.
{% endif %}

{% for linkhash in page.data %}
{% if linkhash[0] != 'description' and linkhash[0] != 'name' and linkhash[0] != '@type' and linkhash[0] != 'image' %}
<h3>{{ linkhash[0] }}
<ul>
{% for link in linkhash[1] %}
  {% capture url%}{% if link.collection %}{{ site.baseurl }}/{{ link.collection }}/{{ link.name | slugify }}/{% else %}{{ link.uri }}{% endif %}{% endcapture %}
    <li>
      <a href="{{ url }}">{{ link.name }}</a>
    </li>
{% endfor %}
</ul>
{% endif %}
{% endfor %}

{{ page | jsonldify }}


