---
layout: default
filename: index.html
---

<h2>{{ page.title }}</h2>

<p>{{ page.data.description }}</p>

{% if page.data.geo %}
  <style>
   #map {
     width: 100%;
     height: 400px;
     background-color: grey;
   }
  </style>
  <div id="map"></div>
  <script>
    function initMap() {
      var thisplace = {lat: {{ page.data.geo.latitude }}, lng: {{ page.data.geo.longitude }}};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: {{ site.googlemaps.zoom }},
        center: thisplace
      });
      var marker = new google.maps.Marker({
        title: "{{page.title}}",
        position: thisplace,
        map: map
      });
    }
  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ site.googlemaps.apikey }}&callback=initMap">
  </script>
{% endif %}

{{ page | jsonldify }}


